.body{
  margin: 0;
  padding: 0;
}

.header{
display: flex;
justify-content: flex-end; 
justify-content: space-between;
background-color: #888;
}

.conteneur{
  border: 0.1px solid #0000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 10px;
  height: 40px;
  width: 500px;
  box-shadow: 1px 1px 5px #888;
  border-radius: 300px;
}

.input-conteneur{
  margin-left: 15px;
  width: 420px;
  height: 25px;
  outline: none;
  background: transparent;
  border: none;
  font-size: 15px
}

.loupe{
  float: left;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.voice{
  float: right;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.google-logo{
  display: flex;
  position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.logo{
  padding-bottom: 250px;
}

.buttons{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.btn{
  margin: 150px 10px 0 0;
  font-size: 15px;
  padding: 8px 15px;
  border: none;
  color: #6e6e6e;
  border-radius: 5px;
}
  
.btn:hover{
  border: 1px solide #a4a4a4;
  border-radius: 5px;
}

.footer{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;